/*
 * Global Variables
 * Updated: 17-11-13
 * Version: 1.0
 */

$page-width: 800px;
$nav-padding: 0 10px 10px 0;
$link-underline: none;

/* Colours */

$background-colour: #FFF;
$text-colour: #000;
$alt-text-colour: #fff;
$link-colour: #bbb;