/* SPANS */

.span1, .span2, .span3,
.span4, .span5, .span6,
.span7, .span8, .span9,
.span10, .span11, .span12,
aside { 
	border-left-width:0px;
	padding:0 10px;
	border:0px solid rgba(0,0,0,0);
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}
              
.span1 { width:8.33333333333%; }
.span2 { width:16.6666666667%; }
.span3, aside { width:25.0%; }
.span4 { width:33.3333333333%; }
.span5 { width:41.6666666667%; }
.span6 { width:50.0%; }
.span7 { width:58.3333333333%; }
.span8 { width:66.6666666667%; }
.span9 { width:75.0%; }
.span10 { width:83.3333333333%; }
.span11 { width:91.6666666667%; }
.span12 { margin-left:0; width:100%; }